html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar-nav .nav-item {
    min-width: 80px;
}

.container .navbar-brand {
    margin-right: 4rem;
}

.action-container {
    margin: 30px 0px 20px;
    text-align: right;
}

.left-container {
    margin: 30px 0px 20px;
    text-align: left;
}

.row .form-control {
    display: inline-flex;
    width: 75%;
}

.placeholder-block {
    height: 80px;
}

.toast .toast-header {
    border-bottom: 0;
}

    .toast .toast-header .me-auto {
        margin-left: 5px;
        font-size: 16px;
    }

.row .remove-ipaddress {
    cursor: pointer;
}

.main-container {
    max-width: 92%;
    margin-right: auto;
    margin-left: auto;
}

.table-application tr {
    cursor: pointer;
}

.table .th-active {
    background-color: #c6fffc;
}

.modal .endpoint-modal {
    max-width: 640px;
}

.modal .endpoint-table-modal {
    max-width: 1200px;
}
