html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar-nav .nav-item {
    min-width: 80px;
}

.container .navbar-brand {
    margin-right: 4rem;
}

.action-container {
    margin: 30px 0px 20px;
    text-align: right;
}

.left-container {
    margin: 30px 0px 20px;
    text-align: left;
}

.row .form-control {
    display: inline-flex;
    width: 75%;
}

.placeholder-block {
    height: 80px;
}

.toast .toast-header {
    border-bottom: 0;
}

    .toast .toast-header .me-auto {
        margin-left: 5px;
        font-size: 16px;
    }

.row .remove-ipaddress {
    cursor: pointer;
}

.main-container {
    max-width: 92%;
    margin-right: auto;
    margin-left: auto;
}

.table-application tr {
    cursor: pointer;
}

.table .th-active {
    background-color: #c6fffc;
}

.modal .endpoint-modal {
    max-width: 640px;
}

.modal .endpoint-table-modal {
    max-width: 1200px;
}

.event-record-container {
    max-height: calc(75vh);
    overflow: auto;
}

.retry-record-container {
    margin-top: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.event-record-navigation {
    margin-top: 15px;
    margin-right: 8px;
}

.list-group {
    margin: 10px 8px 10px 0px;
    cursor: pointer;
}

    .list-group .list-group-item:hover {
        z-index: 1;
        color: #495057;
        text-decoration: none;
        background-color: #eff7ff;
    }

    .list-group .item-active {
        z-index: 1;
        color: #495057;
        text-decoration: none;
        background-color: #eff7ff;
    }

    .list-group .item-header {
        margin-bottom: 10px;
    }

    .list-group .record-item {
        margin: 5px 0px;
    }

        .list-group .record-item .header-item {
            margin-left: 20px;
        }


.scription-record-container {
    margin-top: 63px;
}

    .scription-record-container .scription-record-item {
        cursor: pointer;
    }

.retry-item .card-header {
    padding: 0;
}

    .retry-item .card-header .card-header-left {
        padding: 0.5rem 1rem;
        border-right: 1px solid #d8d8d8;
    }

    .retry-item .card-header .card-header-right {
        padding: 0.5rem 1rem;
    }


.retry-item .card-body {
    padding: 0;
}

    .retry-item .card-body .card-body-left {
        border-right: 1px solid #d8d8d8;
        padding: 1rem 1rem 1rem 1.8rem;
    }

    .retry-item .card-body .card-body-right {
        padding: 1rem 2rem 0 1rem;
    }

.card-body .card-body-left .record-item {
    margin: 5px 0px;
}

.card-body .card-body-right .record-item {
    margin: 10px 0px;
}

.card-body .record-item .header-item {
    margin-left: 20px;
}


.collapse-container {
    max-height: calc(70vh);
    overflow: auto;
}

    .collapse-container .endpoint-record-container {
        margin: 16px 0px 30px 70px;
    }

        .collapse-container .endpoint-record-container .record-item {
            margin: 4px 0;
        }

            .collapse-container .endpoint-record-container .record-item .header-item {
                margin-left: 20px;
            }
